# Ignore node_modules as they will be installed during the build process
node_modules/

# Ignore any log files
*.log

# Ignore Dockerfile itself (it's already used in the build context)
Dockerfile

# Ignore any IDE or editor files (VS Code, IntelliJ, etc.)
.vscode/
.idea/

# Ignore environment variable files
.env

# Ignore build output directories
/build

# Ignore uploads folder if you don't want it to be copied initially (since it's mounted later)
uploads/

# Ignore git files and directories
.git/
.gitignore

# Ignore other unnecessary files or directories
*.md
*.txt
